body {

    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    background-color: black;
    border: 2px solid rgb(12, 12, 94)
}

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.842);
    padding: 20px;
}

.screen-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 30px;
    padding: 5px;
    background-color: rgb(12, 12, 94);
    border-radius: 10px;
    margin-bottom: 100px;
}

.seats {

    color: white;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-items: center;
}

.seat {
    width: 50px;
    height: 50px;
    margin: 10px;
    background-color: rgb(12, 12, 94);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.available:hover {
    background-color: green;
}

.seat.occupied {
    background-color: red;
    cursor: not-allowed;
}

.number-of-seats {
    margin-top: 50px;
    text-align: center;
    color: white
}

.seat-input {
    color: white;
    background-color: black;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    
}

.button-confirm {
    margin-top: 10px;
    padding: 10px 10px;
    font-size: 16px;
    background-color: rgb(12, 12, 94);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer {
    padding: 5px;
    margin: 20px;
    margin-top: 50px;
    text-align: center;
    color: white;
    background-color: rgb(12, 12, 94);
}