h1{
    text-align: center;
}
table{
    width:40vw;
    margin-left: auto;
    margin-right: auto;
}
td:first-of-type{
    background-color: coral;
}

td.titulo{
    font-weight: bold;
    
    text-decoration: underline;
}

table > thead{
    background-color: grey;
}





