html {
    height: 100%;
    background-color: #000000;
    color: #FFFFFF;
}
.unir-text {
    font-family: monospace; /* Fuente. Mas Info https://developer.mozilla.org/en-US/docs/Web/CSS/font-family */
}

body {
    text-align: center;
}

h1.titulo-chuck {
    text-align: center;
    border: 2px solid #000000;
    background: #0098CD;
    color: #FFF;
}

button.boton-chuck {
    background-color: #DB8100;
    color: #FFFFFF;
    margin: 10px auto;
}