body {
    font-family: Arial, Helvetica, sans-serif;
}

.perfil {

    background-color: #1C592F;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.perfil__img {
    width: 300px;
    height: auto;
    border-radius: 30%;
    object-fit: cover;
}

.perfil__name {
    color: #FFFFFF;
    font-size: 2em;
    margin: 10px 0 5px 0;
}

.perfil__role {
    color: #FFFFFF;
    font-size: 1.2em;
    margin: 0;
}

.cv-section {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 10px;
    margin: 25px 0 25px 0;
    padding: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cv-section__title{
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #1C592F;
}