

body{
    color: white;
    text-align: center;
}


h2{
    border: solid thick white; 
}

table{


    margin-left: auto;
    margin-right: auto;

}

th, td{
    border: solid thin white;
    padding: 2vw;
    height: 2vh;
    background-color: green;
}

td.informacion{
    border: none;
    background-color: black;
    max-width: fit-content;
    padding: none;
}

td.ocupado, th.ocupado{
    background-color: red;
}


body{
    background-color: black;
}

.header, .footer{
    background-color: blue;
    border: solid thin white;
}