.boton_chiste {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: black;
    color: grey;
}

.texto_mensaje_chiste {
    color: green;
    border: 1px solid #ccc;
}