h1 {
    color: #0055aa;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    color: #0055aa;
    text-align: center;
}

h3 {
    font-size: 12px;
    color: #0055aa;
    text-align: left;
}

.principal {
    background-color: #8FAAC4;
    text-align: center; /* Centra el contenido */
    font-family: sans-serif;
}

.secundario {
    text-align: left;
    font-family: sans-serif;
}

.parrafos {
    font-size: 10px;
    text-align: left;
    font-family: sans-serif;
}

.imagen-redonda {
    width: 200px;              /* tamaño de la imagen */
    height: 200px;             /* mantener forma cuadrada */
    border-radius: 50%;        /* redondear (50% = círculo) */
    border: 4px solid #555;    /* color y grosor del marco */
    object-fit: cover;         /* recorta para llenar el contorno */
    display: block;            /* necesario para centrar con margin */
    margin: 0 auto;            /* centra horizontalmente */
    box-shadow: 0 0 10px rgba(0,0,0,0.3); /* sombra suave */
}

.marco_div {
    border: 3px solid blue; /* grosor, tipo, color */
    padding: 20px;            /* espacio interno */
    margin: 30px auto;        /* centra el div */
 }
