/* style.css */

.screen {
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.4);
    width: 80%;
    max-width: 600px;
}

.screen h2 {
    color: #333;
}

.seats-area {
    padding: 20px 0;
    overflow-x: auto;
}

.row-label {
    width: 30px;
    text-align: right;
    font-size: 1.1em;
    color: #ccc;
}

.seat,
.legend-item .seat {
    background-color: #6c757d;
    color: #fff;
    border-radius: 5px 5px 0 0;
    height: 35px;
    width: 35px;
    margin: 3px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    user-select: none;
    font-size: 0.8em;
}

.seat.available {
    background-color: #28a745;
}

.seat.available:hover {
    transform: scale(1.1);
    background-color: #218838;
}

.seat.occupied {
    background-color: #dc3545;
    cursor: not-allowed;
    opacity: 0.7;
    box-shadow: none;
    transform: scale(0.95);
}

.seat.occupied:hover {
    transform: scale(0.95);
}

.seat.selected {
    background-color: #ffc107;
    color: #000;
    box-shadow: 0 0 10px #ffc107;
    border: 2px solid #000;
}