body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 20px;
    background-color: #f4f4f4af;
    border: black 0.5px solid;
    padding: 5px;
    
}


.basic-information {
    background-color: #18099e46;
    color: black;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
}

.information-title, .skills-title, .education-title, .summary-title, .experience-title {
    color: #18099e;
    border-bottom: 1px solid #18099e;
    padding-bottom: 10px;
}




.footer {
    text-align: center;
    padding: 10px;
    background-color: #18099e46;
    
}