body {
  font-family: Arial, sans-serif;
  margin-inline: 25%;
  margin-block: 0;
}

.header {
    text-align: center;
    margin-bottom: 20px;
    background-color: #0b055d;
    color: white;
    padding-block: 16px;
}

.education_field {
    margin-left: 20px; 
}

.circular_image {
    width: 150px;        
    height: 150px;       
    border-radius: 50%;  
    object-fit: cover;   
    display: block;      
    margin: 0 auto;  
}

section {
    margin: 20px;                  
    padding: 15px;                 
    border-radius: 10px;           
    border: 2px solid #001f3f;     
}